/**
 * @name Mushy
 * @description A pink, soft discord theme.
 * @author Silas
 * @version 1.0.0
*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 244,115,185;
  --accentcolor2: 255,115,250;
  --linkcolor: 0,255,240;
  --mentioncolor: 14,62,218;
  --textbrightest: 246,231,216;
  --textbrighter: 246,231,216;
  --textbright: 246,231,216;
  --textdark: 246,231,216;
  --textdarker: 246,231,216;
  --textdarkest: 246,231,216;
  --font: Fredoka;
  --backgroundaccent: 198,93,123;
  --backgroundprimary: 135,67,86;
  --backgroundsecondary: 179,83,111;
  --backgroundsecondaryalt: 135,67,86;
  --backgroundtertiary: 135,67,86;
  --backgroundfloating: 246,137,137;
  --settingsicons: 1;
}

/* Any custom CSS below here */


